Pipeline2007-1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "InvokeCopyJob",
        "typeProperties": {
          "copyJobId": "f9d27070-9dc8-a4d5-4d9f-e31f3c509726",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "externalReferences": {
          "connection": "38c77485-e786-4db1-8fd7-9516d3a97cbc"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy job_1ee",
        "dependsOn": []
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "c104983a-7c0f-a72c-4611-7ee1b893c889",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric",
          "executeMashupQueriesOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "retryConditions": {
            "type": "Expression",
            "value": "@contains(activity('Dataflow1').Error.ErrorCode, '500')"
          }
        },
        "name": "Dataflow1",
        "dependsOn": [
          {
            "activity": "Copy job_1ee",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}